.App {
  text-align: center;
}

.App-div {
  text-align: center;
  padding-top: 3%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 7, 73);
}

.App-title {
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ca7d00;
}

.App-table {
  background-color: #ca7d00;
  font-weight: bold;
  color: rgb(0, 7, 73);
}

.App-input {
  background-color: #ffffff;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.App-button {
  text-align: end;
  text-align: right;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
